# Core libraries
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
spacy==3.7.4
beautifulsoup4==4.12.3
sentence-transformers==2.7.0
streamlit==1.34.0

# MLOps tools
mlflow==2.12.2
dvc==3.50.2
apache-airflow==2.9.1
gdown==5.2.0